cython

#=========================================================
#                       Computation
#=========================================================
#--- Scientific Modules ---
scipy                       == 1.0.0     # Requires: numpy #! Caused some major trouble when upgrading to 1.0.0!
numpy                       == 1.14.0    # Requires: N/A   #! Numpy Version should be fixed and verified when altered!
#=========================================================
#                Interface & Visualization
#=========================================================
#--- UI ---
#kivy                        >= 1.10.0    # Requires: docutils, Kivy-Garden, pygments
colorama                    >= 0.3.9     # Requires: N/A
